.container {
    max-width: 100vw;
}

.main__page {
    background-image: url(../images/background_image.png);
    padding-left: 3vw;
    height: 100vh;
}

.block__header {
    display: flex;
    padding-top: 3vh;
}

.header_dark {
    align-items: center;
    margin-left: 5vw;
}

.header_menu {
    margin-left: 20vw;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 1.3rem;
    line-height: 2rem;
}

.menu_element {
    padding-right: 2vw;
}

a {
    color: #FFFFFF;
    text-decoration: none;
}

a:active {
    color: #EFAA24;
}

.element_dark {
    color: #000000;
}

.block__main_page {
    padding: 15vh 0 0 0;
}

.main_content {
    font-family: 'Montserrat';
    color: #FFFFFF;
}

.main_title {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 4rem;
    line-height: 5rem;
    width: 60vw;
    margin: 0 0 4vh 0;
}

.main_text {
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 2rem;
    width: 45vw;
    padding: 0;
    margin: 0;
}

.main_button {
    width: 19vw;
    height: 9vh;
    background: #EFAA24;
    border-radius: 38px;
    border: 0;
    margin-top: 7.5vh;
}

.button_ref {
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 45px;
    color: #333333;
}

.social_text {
    width: 30vw;
    height: 45px;
    font-weight: 400;
    font-size: 0.8rem;
    line-height: 45px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    margin-top: 5vh;
}

.social_icons {
    display: flex;
}

.icons_element {
    margin-right: 3vw;
}

.block__tours {
    margin-top: 2vh;
    display: flex;
    align-items: center;
}


.tours_img {
    position: relative;
}

.image_tours {
    width: 60vw;
}

.tours_img__text {
    position: absolute;
    bottom: 3vh;
    left: 0;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    color: #FFFFFF;
    padding-left: 1vw;
}

.tours_img__title {
    font-size: 1.75rem;
    margin: 0 0 1.5vh 0;
}

.tours_img__subtitle {
    font-size: 1.2rem;
    margin: 0 0 2vh 0;
}

.tours_content {
    margin-left: 3.5vw;
    display: flex;
    flex-direction: column;
}

.tours_content__title {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 800;
    font-size: 3rem;
    line-height: 2.5rem;
    color: #333333;
    width: 26vw;
    margin: 0;
}

.tours_content__text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 1.9rem;
    line-height: 2.3rem;
    color: #333333;
    width: 35vw;
    margin: 4vh 0;
}

.content__button {
    box-sizing: border-box;
    width: 30vw;
    height: 12vh;
    border: 2px solid #EFC224;
    border-radius: 38px;
    background-color: transparent;
}

.button_yw {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    line-height: 2rem;
    color: #EFC224;
}

.block__form {
    background-image: url(../images/man_image.png);
    min-height: 60vh;
    display: flex;
    align-items: center
}

.form_container {
    display: flex;
    margin-left: 35vw;
}

.form_text__title {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 800;
    font-size: 2.6rem;
    line-height: 3rem;
    color: #333333;
    margin: 0 3vw 5vh 0;
}

.form_text__subtitle {
    width: 25vw;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 2.2rem;
    line-height: 2rem;
    color: #333333;
    margin: 0;
}

.form_block {
    display: flex;
    flex-direction: column;
}

.form_input {
    width: 26vw;
    height: 9vh;
    border: 2px solid #333333;
    border-radius: 38px;
    background-color: transparent;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
    letter-spacing: 0.13em;
    color: #333333;
    padding-left: 2vw;
    margin-bottom: 3vh;
}

.form_button {
    width: 28.5vw;
    height: 10vh;
    background: #EFC224;
    border-radius: 38px;
    border: 0;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 1.7rem;
    color: #333333;
}

.form__personal_information {
    width: 28.5vw;
    height: 5vh;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 0.7rem;
    line-height: 4vh;
    color: #333333;
    text-align: center;
    margin-top: 2vh;
}

.ref__personal_information {
    color: #EF4924;
}

.block__reviews {
    margin-top: 1vh;
    display: flex;
    align-items: center;
}


.reviews_img {
    position: relative;
}

.image_reviews {
    width: 55vw;
}

.reviews_img__text {
    position: absolute;
    bottom: 3vh;
    left: 0;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    color: #FFFFFF;
    padding-left: 1vw;
}

.reviews_img__title {
    font-size: 1.75rem;
    margin: 0 0 0.7vh 0;
    width: 45vw;
}

.reviews_content {
    margin-left: 5vw;
    display: flex;
    flex-direction: column;
}

.reviews_content__title {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 800;
    font-size: 4rem;
    line-height: 5rem;
    color: #333333;
    width: 40vw;
    margin: 0;
}

.reviews_content__text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.8rem;
    color: #333333;
    margin: 4vh 0;
    width: 30vw;
}

.reviews_content__text1,
.reviews_content__text2 {
    margin: 0;
}

.block__footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 6vh 0 4vh 0;
}

.footer_text {
    width: 18vw;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.2rem;
    color: #333333;
}